.product_loop{
  margin-left: 100px !important;
  margin-right: 100px !important;
  justify-content: space-between;
}

.product_loop .product_item{
  width: 22% !important;
}

.woocommerce-products-header__title.page-title{
  text-align: center;
  padding: 70px 0;
  font-size: 30px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.product_ajax_loading{
  margin-bottom: 70px;
}

#product_archive{
  padding-bottom: 0 !important;
}

@media (max-width: 768px) {
  .woocommerce-products-header__title.page-title{
    font-size: 20px !important;
    padding: 30px 0;
  }

}

@media (max-width: 500px) {

  .product_loop{
    display: block !important;
  }
  .product_loop .product_item{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
  }
}
