.products-slider .product-slide {
  margin: 0 15px; /* 左右のマージンを15pxに設定 */
}

.products-slider button {
  appearance: none;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

.products-slider button:focus {
  outline: none;
}

.products-slider button.arrow-common {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  cursor: pointer;
  z-index: 5;
}

.products-slider button.arrow-prev {
  left: 0%;
  top: 44%;
  transform: scaleX(-1);
}
.products-slider button.arrow-next {
  right: 0%;
}

.slide-arrow.next-arrow,
.slide-arrow.prev-arrow {
  transform: translateY(-150%);
}

.products-slider {
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 1020px) {
  .slide-arrow.next-arrow,
  .slide-arrow.prev-arrow {
    transform: translateY(-200%);
  }
}

@media (max-width: 768px) {
  .products-slider button.arrow-common {
    width: 30px;
  }
  .products-slider button.arrow-next {
    top: 45%;
  }
  .products-slider button.arrow-prev {
    top: 40%;
  }
  .slide-arrow.next-arrow,
  .slide-arrow.prev-arrow {
    transform: translateY(-150%);
  }
}
@media (max-width: 400px) {
  .products-slider button.arrow-next {
    top: 37%;
  }
  .products-slider button.arrow-prev {
    top: 30%;
  }
  .slide-arrow.next-arrow,
  .slide-arrow.prev-arrow {
    transform: translateY(-100%);
  }
}

.product_item .title {
  font-size: 16px !important;
  line-height: 1.2 !important;
}
.line1,
.line2,
.line3 {
  overflow: unset;
  text-overflow: clip;
}

.line1 > span {
  display: unset;
}

.product_price{
  padding-top: 20px;
}

.woocommerce-Price-amount.amount{
  font-size: 14px;
}

.related.products > h2 {
  text-align: center;
  padding: 1px 0 70px;
  display: block;
  font-size: 36px;
  font-weight: 600;
  padding: 70px 0;
  line-height: 2.4;
  margin: -0.7em 0;
}


/* いいね機能 */
.single_product_like_add{
  display: none !important;
}

.single_product_like_delete{
  display: none !important;
}

.single_product_like:before{
  margin-right: 0 !important;
}

.single_product_cart_button.single_add_to_cart_button{
  position: relative;
}

.single_product_like{
  min-width: unset !important;
  padding: 0 !important;
  border: none !important;
  position: absolute;
  top: 0;
}

.woocommerce__button-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.single_product_cart_button, .single_product_like {
  margin-right: 10px;  /* ボタン間のスペースを調整 */
}

@media (max-width: 767px){
  .woocommerce__button-flex{
    margin-top: 20px;
  }
  .single_product_cart_button {
      min-width: 260px;
      font-size: 14px;
      height: 50px;
      margin: 0 !important;
      margin-right: 10px !important;
  }
  .single_product_like {
    min-width: 260px;
    font-size: 14px;
    margin: 0 !important;
    height: 50px;
    border-radius: 50px;
}
}
